.xmt-article-card {
    margin: 20px auto;

    .mdl-card__actions.xmt-top {
        display: flex;
        box-sizing: border-box;
        align-items: center;

        .mdl-list {
            padding: 0;

            .mdl-list__item {
                padding: 0;
            }

            i {
                margin-left: 10px;
                width: 50px;
                height: 50px;
            }
        }

        .mdl-button {
            color: #6ab344;
        }

        > .mdl-button--icon {
            margin-right: 3px;
            margin-left: 3px;
        }

        .xmt-time {
            padding-right: 15px;
            font-weight: 500;

            color: grey;
        }
    }

    .mdl-card__media {
        overflow: hidden;
        background: transparent;

        img {
            width: 100%;
            height: 200px;
        }
    }

    .mdl-card__title {
        background: transparent;
        height: auto;
    }

    .mdl-card__supporting-text {
        height: auto;
        color: black;
        padding-bottom: 56px;
    }

    .mdl-card__actions.xmt-bottom {
        display: flex;
        box-sizing: border-box;
        align-items: center;

        .mdl-button {
            color: #6ab344;
        }

        > .mdl-button--icon {
            margin-right: 3px;
            margin-left: 3px;
        }

        .xmt-count {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;

            color: #6ab344;
        }
    }
}
