.xmt-community {
    max-width: 1300px;
    margin: auto;

    .xmt-swiper-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .mdl-card {
            width: 100%;

            .swiper-slide {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .xmt-swiper-big {
        .mdl-card {
            width: 100%;

            .swiper-slide {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
