.xmt-production-card {
    .mdl-card__media {
        overflow: hidden;
        background: transparent;

        img {
            width: 100%;
        }
    }

    .mdl-card__title {
        background: transparent;
        height: auto;
    }

    .mdl-card__supporting-text {
        height: auto;
        color: black;
        padding-bottom: 56px;
    }

    .mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;

        .mdl-button {
            color: #6ab344;
        }

        > .mdl-button--icon {
            margin-right: 3px;
            margin-left: 3px;
        }
    }
}
